/*Nav bar Section*/

.navbar {
    border-radius: 0px !important;
    background-color: rgb(255, 255, 255) !important; 
    border-color: rgb(255, 255, 255) !important;
}

.navbar-inverse {
    margin-bottom: 0 !important;
}

.navbar-nav {
    margin-top: 5px !important;
}

.sub-menu {
    margin-top: 5px;
    float: left;
    text-align: center;
    margin-right: 30px;
}

.sub-menu>li>a{
    text-decoration: none;
}  
.sub-menu .menu-title {
    display: block;
    margin-top: 5px;  
}

.sub-menu:hover {
    border-bottom: 3px solid #F74A4A !important;   
}

span{
    color:rgb(0, 0, 0);
}

a{
    font-family: 'Roboto', sans-serif !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000 !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    border-bottom: 3px solid #F74A4A !important;   
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(30, 43, 56) !important;
    transition-delay:s !important;
}

.dropdown-menu {
    background-color:white !important;
}

.dropdown-menu>li>a {
    color:black !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image:none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:#F74A4A  !important;
    color:white !important;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0 !important; 
 }


/*Login and Register Form Section*/
h2{
    font-family: 'Roboto', sans-serif;
}

a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

#loginContainer {
    min-height: 500px;
    text-align: center;
    max-width: 650px;
    min-width: 250px;
    margin: 0 auto;
    /* display: flex; <-- removed cuz it messes up form*/
    align-items: center;
    flex-direction: column;
    margin-left: 35%;
}

.registerContainer{
    text-align: center;
    padding-top: 20px;
    max-width: 650px;
    min-width: 250px;
    margin: 0 auto;
    /* display: flex; <-- removed cuz it messes up form*/
    align-items: center;
    flex-direction: column; 
}


input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    width: 95%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
}
  
input[type=text]:focus {
    border-bottom: 2px solid #F64C72;
}
  
input[type=text]:placeholder {
    color: #cccccc;
}
  
input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    width: 95%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
}
  
input[type=password]:focus {
    border-bottom: 2px solid #F64C72;
}
  
input[type=password]:placeholder {
    color: #cccccc;
}
  
#loginForm {
    padding-top: 60px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    max-width: 400px;
    position: relative;
    text-align: center;
    margin:0 auto;
  }

  input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    width: 95%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
}
  
input[type=email]:focus {
    border-bottom: 2px solid #503a2c;
}

.col-sm-4 {
    padding: 0;
}

#state {
    width: 85%;
    margin: 5px 0;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    height: 45px;
    color: rgb(110, 108, 108);
    outline: none;
    font-family: 'Raleway', sans-serif;
}


input[type=submit] {
    width: 98%;
    background-color: #F64C72;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: rgb(226, 71, 105);
}


/*Sell Phone Section*/
.formContent{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 40px;
}

input[type=number] {
    width: 98%;
    background-color:#f6f6f6;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f6f6f6 !important;
    background-image: none;
    border: none !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
}

/*Body Section*/

.headingContainer{
    text-align: center;
    background-color: #C4FCFC;
    height: 200px;
    padding: 30px;
}

.row{
    margin-bottom: 50px !important;
}

.card{
    background-color: white !important;
}

.card:hover{
    cursor: pointer;
}
  
.card-img-top{
    object-fit: contain !important;
    width: 18rem !important;
    height: 200px !important;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none !important;
    color: black !important;
}


/*Ask form*/
.ask_form{
    text-align: center !important;
    margin-left: 20% !important;
    margin-right: 20% !important;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
[type=radio] + img {
    cursor: pointer;
}
  
[type=radio]:checked + img {
    outline: 2px solid #F74A4A;
}

.askPrductFont{
    color:white;
}


.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 9px;
    border: solid !important;
    color: #F74A4A;
    border-width: 1px !important;
}


/*Product Page*/
.sellerProfile{
    margin-top:6%;
    text-align: center !important;
}

.productPageButton{
    border:1px solid !important;
    border-radius: 10px !important;
    color: #F74A4A;
}
.productPageButtonSell{
    border-radius: 10px !important;
    color: white !important;
    background-color: #F74A4A !important;
    border-color: #F74A4A !important;
}


/*Email Form*/
.emailForm{
    width:70% !important;
    margin: 0 auto;
}

.emailForm input[type=submit] {
    background-color: #5cdb95;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}

.emailForm input[type=submit]:hover {
    background-color: #2fb96d;
}

.emailForm input[type=text] {
    background-color: white;
    border: 1px solid;
    color: #0d0d0d;
    font-size: 16px;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
    border-color: #d6d6d6;
    margin-left:0px;
}

.email_form_row{
    margin:0 !important;
}

.emailColumn{
    padding:0px !important;
}

.emailColumnTwo{
    padding:0px !important;
    width:47% !important;
}

.commentTextBox{
    height:100px;
}

.subject{
    width:100%;
}


/*Footer Section*/

footer{
    border-top: 1px solid #F74A4A;
    padding-top: 20px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
}

footer p{
    color:black;
}
